<template name="submit">
	<header id="header">
        {{> navBar}}
    </header>
    <div id="main" role="main">
        {{> searchBar}}
        <div class="results-bg">
        	<section id="profile" class="padding-30">
        		<div class="wrapper">
                    <h2>New submission</h2>
                    <div class="upload-imagery">
                        <p>
                            Get into the space exploration shuttle by submitting your most recent observations and imagery.
                        </p>

                        <form id="imagery-form">
                            <p>
                                
                            </p>
                            <input type="submit" name="submit-imagery" id="submit-imagery" value="Submit">
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>